<html>
	<body><h1>Welcome to the LOST Web Application</h1>
		<div align="right">
			<form name = 'logout' action="{{url_for('logout')}}">
				<input type="submit" value='Logout {{uname}}' name='logout' />
			</form>
		</div>
		<br />
		Your username is {{usermsg}}
		<br />
		<table style="width:100%">
			<tr>
				{% for head in tableheader %}
				<th>{{head}}</ th>
				{% endfor %}
			</tr>
			{% for line in todo_list %}
			<tr>
				{% for value in line %}
				<th>{{value}}</ th>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>

		<form name = 'asset_report' action="{{url_for('asset_report')}}">
			<input type="submit" value='Asset Report' name='asset_report' />
		</form>
		<form name = 'transfer_report' action="{{url_for('transfer_report')}}">
			<input type="submit" value='Transfer Report' name='transfer_report' />
		</form>
		<form name = 'add_asset' action="{{url_for('add_asset')}}">
			<input type="submit" value='Add Asset' name='add_asset' />
		</form>
		<form name = 'add_facility' action="{{url_for('add_facility')}}">
			<input type="submit" value='Add Facility' name='add_facility' />
		</form>
		<form name = 'dispose_asset' action="{{url_for('dispose_asset')}}">
			<input type="submit" value='Dispose Asset' name='dispose_asset' />
		</form>
		<form name = 'transfer_req' action="{{url_for('transfer_req')}}">
			<input type="submit" value='Transfer Request' name='transfer_req' />
		</form>
	</body>
</html>
