<html>
	<body>
		<div align="right">
			<form name = 'logout' action="{{url_for('logout')}}">
				<input type="submit" value='Logout {{uname}}' name='logout' />
			</form>
		</div>
		<h2>Generate Inventory Report</h2>
		<p1>Something about reports...</p1><br />
		<form action="{{url_for('genReport')}}" method="POST">
			<input type="radio" name='report' value='facilityreport'/> Facility 
			<select name='facilities'>
				{% for facility in facilities_list %}
					<option name='assetAt' value="{{facility[0]}}" SELECTED>{{facility[1]}}</option>
				{% endfor %}
			</select>
			<br />
			<input type="radio" name='report' value='transitreport'/> Transit
			<select name='convoys'>
				{% for convoy in convoys_list %}
					<option name='assetOn' value="{{convoy[0]}}" SELECTED>{{convoy[1]}}</option>
				{% endfor %}
			</select>
			<br />
			<input type="submit" value='Generate Report' name='Generate' />
		</form>
	</body>
</html>
