<html>
	<h1> Transfer Request Interface </h1>
	<body>
		{{transfer_msg}}
		<br />
		<form name='new_asset' action="{{url_for('transfer_req')}}" method='POST'>
			<input type="text" placeholder='Asset Tag' name='atag' maxlength="16" required/>
			<input type="date" name='arrival' required/>
			Source Facility<select name='source'>
				{% for facility in facilities_list %}
					<option name='source' value="{{facility[0]}}" SELECTED>{{facility[1]}}</option>
				{% endfor %}
			</select>
			Destination Facility<select name='destination'>
				{% for facility in facilities_list %}
					<option name='destination' value="{{facility[0]}}" SELECTED>{{facility[1]}}</option>
				{% endfor %}
			</select>
			<br />
			<input type="submit" value="Request Transfer" name="submit" />
		</form>
	</body>
</html>



