<html>
	<body>
		<div align="right">
			<form action="{{url_for('logout')}}">
				<input type="submit" value='Logout {{uname}}' name='logout' />
			</form>
		</div>
		<h2>Transit: </h2>
		<table style="width:100%">
			<tr>
				<th>Asset Tag</ th>
				<th>Depart Date</ th>
				<th>from Facility</ th>
				<th>Arrive Date</ th>
				<th>to Facility</ th>
			</tr>
			{% for asset_line in asset_list %}
			<tr>
				{% for data in asset_line %}
				<th>{{data}}</ th>
				{%endfor %}
			</tr>
			{% endfor %}
		</table>
		<form action="{{url_for('reportfilter')}}">
			<input type="submit" value='New Report' name='return' />
		</form>
	</body>
</html>
