<html>
	<body>
		<h2>Report Generate Interface</h2>
		<p1>{{report_msg}}</p1>

		<div align="right">
			<form name = 'dashboard' action="{{url_for('dashboard')}}">
				<input type="submit" value='Dashboard' name='Dashboard' />
			</form>
		</div>

		<form action="{{url_for('transfer_report')}}" method="POST">
			<input type="date" name='reportday' required/>
			<br />
			<input type="submit" value="Generate Report" name="submit" />
		</form>
		<table style="width:100%">
			<tr>
				{% for head in tableheader %}
				<th>{{head}}</ th>
				{% endfor %}
			</tr>
			{% for line in report_list %}
			<tr>
				{% for value in line %}
				<th>{{value}}</ th>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</body>
</html>

