<html>
	<h1> Update Transit Interface </h1>
	<body>
		{{update_msg}}

		<div align="right">
			<form name = 'dashboard' action="{{url_for('dashboard')}}">
				<input type="submit" value='Dashboard' name='Dashboard' />
			</form>
		</div>

		<br />
		<table style="width:100%">
			<tr>
				{% for head in tableheader %}
				<th>{{head}}</ th>
				{% endfor %}
			</tr>
			<tr>
				{% for detail in request %}
				<th>{{detail}}</ th>
				{% endfor %}
			</tr>
		</table>
		<form name='update_transit' action="{{url_for('update_transit')}}" method='POST'>
			<input type="hidden" name='request_pk' value={{request_fk}}>
			Load<input type="date" name='load'>
			Unload<input type="date" name='unload'>
			<br />
			<input type="submit" value="Schedule" name= />
		</form>
	</body>
</html>



